<a href="https://colab.research.google.com/github/jamesharrison2005/Analysis-on-the-Prevalence-of-Covid-19/blob/main/Growth_and_prevalence_of_Covid_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

The objective of this project is to *analyse* how COVID-19 spread across countries over time, identify periods of rapid growth, compare prevalence and mortality rates, and uncover regional differences.

In [4]:
import pandas as pd
from google.colab import drive

drive.mount('/content/drive')
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/owid-covid-data.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Data Cleaning
Converting date feature into datetime

In [10]:
df['date'] = pd.to_datetime(df['date'])
df.head(5)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350085 entries, 0 to 350084
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    350085 non-null  object
 1   continent                                   333420 non-null  object
 2   location                                    350085 non-null  object
 3   date                                        350085 non-null  datetime64[ns]
 4   total_cases                                 312088 non-null  float64
 5   new_cases                                   340457 non-null  float64
 6   new_cases_smoothed                          339198 non-null  float64
 7   total_deaths                                290501 non-null  float64
 8   new_deaths                                  340511 non-null  float64
 9   new_deaths_smoothed                         339281 non-null  float64
 10  total_cases_per_million                     312088 non-null  float64
 11  new_cases_per_million                       340457 non-null  float64
 12  new_cases_smoothed_per_million              339198 non-null  float64
 13  total_deaths_per_million                    290501 non-null  float64
 14  new_deaths_per_million                      340511 non-null  float64
 15  new_deaths_smoothed_per_million             339281 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                37615 non-null   float64
 18  icu_patients_per_million                    37615 non-null   float64
 19  hosp_patients                               38902 non-null   float64
 20  hosp_patients_per_million                   38902 non-null   float64
 21  weekly_icu_admissions                       10205 non-null   float64
 22  weekly_icu_admissions_per_million           10205 non-null   float64
 23  weekly_hosp_admissions                      23253 non-null   float64
 24  weekly_hosp_admissions_per_million          23253 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          79308 non-null   float64
 35  people_vaccinated                           75911 non-null   float64
 36  people_fully_vaccinated                     72575 non-null   float64
 37  total_boosters                              47562 non-null   float64
 38  new_vaccinations                            65346 non-null   float64
 39  new_vaccinations_smoothed                   180718 non-null  float64
 40  total_vaccinations_per_hundred              79308 non-null   float64
 41  people_vaccinated_per_hundred               75911 non-null   float64
 42  people_fully_vaccinated_per_hundred         72575 non-null   float64
 43  total_boosters_per_hundred                  47562 non-null   float64
 44  new_vaccinations_smoothed_per_million       180718 non-null  float64
 45  new_people_vaccinated_smoothed              180489 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  180489 non-null  float64
 47  stringency_index                            197651 non-null  float64
 48  population_density                          297178 non-null  float64
 49  median_age                                  276367 non-null  float64
 50  aged_65_older                               266708 non-null  float64
 51  aged_70_older                               273597 non-null  float64
 52  gdp_per_capita                              270863 non-null  float64
 53  extreme_poverty                             174561 non-null  float64
 54  cardiovasc_death_rate                       271487 non-null  float64
 55  diabetes_prevalence                         285303 non-null  float64
 56  female_smokers                              203659 non-null  float64
 57  male_smokers                                200889 non-null  float64
 58  handwashing_facilities                      132973 non-null  float64
 59  hospital_beds_per_thousand                  239669 non-null  float64
 60  life_expectancy                             322072 non-null  float64
 61  human_development_index                     263138 non-null  float64
 62  population                                  350085 non-null  float64
 63  excess_mortality_cumulative_absolute        12184 non-null   float64
 64  excess_mortality_cumulative                 12184 non-null   float64
 65  excess_mortality                            12184 non-null   float64
 66  excess_mortality_cumulative_per_million     12184 non-null   float64
dtypes: datetime64[ns](1), float64(62), object(4)
memory usage: 179.0+ MB

In [8]:
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,3.120880e+05,3.404570e+05,3.391980e+05,2.905010e+05,340511.000000,339281.000000,312088.000000,340457.000000,339198.000000,290501.000000,...,200889.000000,132973.000000,239669.000000,322072.000000,263138.000000,3.500850e+05,1.218400e+04,12184.000000,12184.000000,12184.000000
mean,6.683354e+06,9.601634e+03,9.637066e+03,8.602180e+04,85.511055,85.817071,101749.851259,145.163814,145.696924,872.289356,...,32.909483,50.789962,3.097245,73.713631,0.722464,1.284633e+08,5.281637e+04,9.738648,11.345256,1669.025575
std,4.068903e+07,1.102769e+05,9.447784e+04,4.398873e+05,613.687971,559.130004,151265.689121,1163.714678,599.957847,1100.189784,...,13.573767,31.956100,2.548327,7.395220,0.148976,6.607694e+08,1.492195e+05,12.304441,25.181297,1938.556228
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.700000,1.188000,0.100000,53.280000,0.394000,4.700000e+01,-3.772610e+04,-44.230000,-95.920000,-2752.924800
25%,8.090000e+03,0.000000e+00,2.860000e-01,1.270000e+02,0.000000,0.000000,2595.577500,0.000000,0.044000,60.606000,...,22.600000,20.859000,1.300000,69.590000,0.602000,4.490020e+05,1.202250e+02,1.400000,-1.600000,72.395046
50%,7.020500e+04,2.000000e+00,2.485700e+01,1.328000e+03,0.000000,0.143000,28307.659000,0.128000,6.517000,377.169000,...,33.100000,49.839000,2.500000,75.050000,0.740000,5.882259e+06,5.885850e+03,8.075000,5.720000,1105.404700
75%,7.409558e+05,2.640000e+02,4.978570e+02,1.192200e+04,3.000000,5.143000,133506.244000,35.466000,82.411000,1365.925000,...,41.300000,82.502000,4.200000,79.460000,0.829000,2.830170e+07,3.742344e+04,15.360000,16.302500,2740.130200
max,7.714071e+08,8.401961e+06,6.402036e+06,6.972139e+06,27939.000000,14822.000000,737554.506000,228872.025000,37241.781000,6511.209000,...,78.100000,100.000000,13.800000,86.750000,0.957000,7.975105e+09,1.289776e+06,76.620000,377.630000,10292.916000

Gaining an understanding of the unique values in each column, as well as identifying any data that may need to be cleaned. Data is already sorted by location and date so sorting is unecessary. Undefined data is already replaced using NaN.

In [22]:
null_mask = df.isnull().any(axis=1)
null_data = df[null_mask]
null_data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350080,ZWE,Africa,Zimbabwe,2023-10-14,265808.0,0.0,5.286,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
350081,ZWE,Africa,Zimbabwe,2023-10-15,265808.0,0.0,5.286,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
350082,ZWE,Africa,Zimbabwe,2023-10-16,265808.0,0.0,5.286,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
350083,ZWE,Africa,Zimbabwe,2023-10-17,265808.0,0.0,0.000,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
350084,ZWE,Africa,Zimbabwe,2023-10-18,265808.0,0.0,0.000,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [23]:
for col in df:
  print(col, ": ")
  print(df[col].unique(), "\n")

iso_code :
['AFG' 'OWID_AFR' 'ALB' 'DZA' 'ASM' 'AND' 'AGO' 'AIA' 'ATG' 'ARG' 'ARM'
 'ABW' 'OWID_ASI' 'AUS' 'AUT' 'AZE' 'BHS' 'BHR' 'BGD' 'BRB' 'BLR' 'BEL'
 'BLZ' 'BEN' 'BMU' 'BTN' 'BOL' 'BES' 'BIH' 'BWA' 'BRA' 'VGB' 'BRN' 'BGR'
 'BFA' 'BDI' 'KHM' 'CMR' 'CAN' 'CPV' 'CYM' 'CAF' 'TCD' 'CHL' 'CHN' 'COL'
 'COM' 'COG' 'COK' 'CRI' 'CIV' 'HRV' 'CUB' 'CUW' 'CYP' 'CZE' 'COD' 'DNK'
 'DJI' 'DMA' 'DOM' 'ECU' 'EGY' 'SLV' 'OWID_ENG' 'GNQ' 'ERI' 'EST' 'SWZ'
 'ETH' 'OWID_EUR' 'OWID_EUN' 'FRO' 'FLK' 'FJI' 'FIN' 'FRA' 'GUF' 'PYF'
 'GAB' 'GMB' 'GEO' 'DEU' 'GHA' 'GIB' 'GRC' 'GRL' 'GRD' 'GLP' 'GUM' 'GTM'
 'GGY' 'GIN' 'GNB' 'GUY' 'HTI' 'OWID_HIC' 'HND' 'HKG' 'HUN' 'ISL' 'IND'
 'IDN' 'IRN' 'IRQ' 'IRL' 'IMN' 'ISR' 'ITA' 'JAM' 'JPN' 'JEY' 'JOR' 'KAZ'
 'KEN' 'KIR' 'OWID_KOS' 'KWT' 'KGZ' 'LAO' 'LVA' 'LBN' 'LSO' 'LBR' 'LBY'
 'LIE' 'LTU' 'OWID_LIC' 'OWID_LMC' 'LUX' 'MAC' 'MDG' 'MWI' 'MYS' 'MDV'
 'MLI' 'MLT' 'MHL' 'MTQ' 'MRT' 'MUS' 'MYT' 'MEX' 'FSM' 'MDA' 'MCO' 'MNG'
 'MNE' 'MSR' 'MAR' 'MOZ' 'MMR' 'NAM' 'NRU' 'NPL' 'NLD' 'NCL' 'NZL' 'NIC'
 'NER' 'NGA' 'NIU' 'OWID_NAM' 'PRK' 'MKD' 'OWID_CYN' 'OWID_NIR' 'MNP'
 'NOR' 'OWID_OCE' 'OMN' 'PAK' 'PLW' 'PSE' 'PAN' 'PNG' 'PRY' 'PER' 'PHL'
 'PCN' 'POL' 'PRT' 'PRI' 'QAT' 'REU' 'ROU' 'RUS' 'RWA' 'BLM' 'SHN' 'KNA'
 'LCA' 'MAF' 'SPM' 'VCT' 'WSM' 'SMR' 'STP' 'SAU' 'OWID_SCT' 'SEN' 'SRB'
 'SYC' 'SLE' 'SGP' 'SXM' 'SVK' 'SVN' 'SLB' 'SOM' 'ZAF' 'OWID_SAM' 'KOR'
 'SSD' 'ESP' 'LKA' 'SDN' 'SUR' 'SWE' 'CHE' 'SYR' 'TWN' 'TJK' 'TZA' 'THA'
 'TLS' 'TGO' 'TKL' 'TON' 'TTO' 'TUN' 'TUR' 'TKM' 'TCA' 'TUV' 'UGA' 'UKR'
 'ARE' 'GBR' 'USA' 'VIR' 'OWID_UMC' 'URY' 'UZB' 'VUT' 'VAT' 'VEN' 'VNM'
 'OWID_WLS' 'WLF' 'ESH' 'OWID_WRL' 'YEM' 'ZMB' 'ZWE']

continent :
['Asia' nan 'Europe' 'Africa' 'Oceania' 'North America' 'South America']

location :
['Afghanistan' 'Africa' 'Albania' 'Algeria' 'American Samoa' 'Andorra'
 'Angola' 'Anguilla' 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba'
 'Asia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain'
 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bermuda'
 'Bhutan' 'Bolivia' 'Bonaire Sint Eustatius and Saba'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'British Virgin Islands'
 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon'
 'Canada' 'Cape Verde' 'Cayman Islands' 'Central African Republic' 'Chad'
 'Chile' 'China' 'Colombia' 'Comoros' 'Congo' 'Cook Islands' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Cuba' 'Curacao' 'Cyprus' 'Czechia'
 'Democratic Republic of Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'England'
 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Europe'
 'European Union' 'Faeroe Islands' 'Falkland Islands' 'Fiji' 'Finland'
 'France' 'French Guiana' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia'
 'Germany' 'Ghana' 'Gibraltar' 'Greece' 'Greenland' 'Grenada' 'Guadeloupe'
 'Guam' 'Guatemala' 'Guernsey' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti'
 'High income' 'Honduras' 'Hong Kong' 'Hungary' 'Iceland' 'India'
 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Isle of Man' 'Israel' 'Italy'
 'Jamaica' 'Japan' 'Jersey' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati'
 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon' 'Lesotho'
 'Liberia' 'Libya' 'Liechtenstein' 'Lithuania' 'Low income'
 'Lower middle income' 'Luxembourg' 'Macao' 'Madagascar' 'Malawi'
 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Marshall Islands' 'Martinique'
 'Mauritania' 'Mauritius' 'Mayotte' 'Mexico' 'Micronesia (country)'
 'Moldova' 'Monaco' 'Mongolia' 'Montenegro' 'Montserrat' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands'
 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Niue'
 'North America' 'North Korea' 'North Macedonia' 'Northern Cyprus'
 'Northern Ireland' 'Northern Mariana Islands' 'Norway' 'Oceania' 'Oman'
 'Pakistan' 'Palau' 'Palestine' 'Panama' 'Papua New Guinea' 'Paraguay'
 'Peru' 'Philippines' 'Pitcairn' 'Poland' 'Portugal' 'Puerto Rico' 'Qatar'
 'Reunion' 'Romania' 'Russia' 'Rwanda' 'Saint Barthelemy' 'Saint Helena'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Martin (French part)'
 'Saint Pierre and Miquelon' 'Saint Vincent and the Grenadines' 'Samoa'
 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Scotland' 'Senegal'
 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Sint Maarten (Dutch part)' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Africa' 'South America' 'South Korea' 'South Sudan'
 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden' 'Switzerland' 'Syria'
 'Taiwan' 'Tajikistan' 'Tanzania' 'Thailand' 'Timor' 'Togo' 'Tokelau'
 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan'
 'Turks and Caicos Islands' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States'
 'United States Virgin Islands' 'Upper middle income' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Vatican' 'Venezuela' 'Vietnam' 'Wales'
 'Wallis and Futuna' 'Western Sahara' 'World' 'Yemen' 'Zambia' 'Zimbabwe']

date :
<DatetimeArray>
['2020-01-03 00:00:00', '2020-01-04 00:00:00', '2020-01-05 00:00:00',
 '2020-01-06 00:00:00', '2020-01-07 00:00:00', '2020-01-08 00:00:00',
 '2020-01-09 00:00:00', '2020-01-10 00:00:00', '2020-01-11 00:00:00',
 '2020-01-12 00:00:00',
 ...
 '2023-10-17 00:00:00', '2023-10-18 00:00:00', '2020-01-01 00:00:00',
 '2020-01-02 00:00:00', '2023-10-19 00:00:00', '2023-10-20 00:00:00',
 '2023-10-21 00:00:00', '2023-10-22 00:00:00', '2023-10-23 00:00:00',
 '2023-10-24 00:00:00']
Length: 1393, dtype: datetime64[ns]

total_cases :
[        nan 1.00000e+00 4.00000e+00 ... 2.65748e+05 2.65753e+05
 2.65765e+05]

new_cases :
[0.000e+00 1.000e+00 3.000e+00 ... 1.252e+04 9.911e+03 5.081e+03]

new_cases_smoothed :
[         nan 0.000000e+00 1.430000e-01 ... 1.397143e+03 1.503143e+03
 1.503857e+03]

total_deaths :
[      nan 1.000e+00 2.000e+00 ... 5.453e+03 5.498e+03 5.517e+03]

new_deaths :
[0.000e+00 1.000e+00 2.000e+00 ... 2.950e+03 3.114e+03 3.651e+03]

new_deaths_smoothed :
[        nan 0.00000e+00 1.43000e-01 ... 2.69714e+02 3.80286e+02
 2.02000e+02]

total_cases_per_million :
[          nan 2.4000000e-02 9.7000000e-02 ... 1.6284082e+04 1.6284450e+04
 1.6286717e+04]

new_cases_per_million :
[ 0.     0.024  0.073 ... 12.867  7.291  4.902]

new_cases_smoothed_per_million :
[       nan 0.0000e+00 3.0000e-03 ... 1.2911e+01 6.3290e+00 4.8410e+00]

total_deaths_per_million :
[        nan 2.40000e-02 4.90000e-02 ... 3.50172e+02 3.50295e+02
 3.50356e+02]

new_deaths_per_million :
[0.    0.024 0.049 ... 4.963 4.228 2.635]

new_deaths_smoothed_per_million :
[      nan 0.000e+00 3.000e-03 ... 1.232e+01 4.035e+00 4.140e+00]

reproduction_rate :
[  nan  1.51  1.52  1.5   1.49  1.48  1.47  1.54  1.55  1.56  1.57  1.59
  1.58  1.61  1.46  1.44  1.42  1.41  1.39  1.38  1.36  1.35  1.33  1.31
  1.29  1.27  1.26  1.24  1.22  1.21  1.19  1.17  1.16  1.14  1.13  1.11
  1.09  1.08  1.06  1.04  1.03  1.02  1.    0.99  0.97  0.96  0.95  0.93
  0.92  0.9   0.89  0.88  0.86  0.85  0.84  0.83  0.82  0.81  0.8   0.79
  0.78  0.77  0.76  0.87  0.91  0.94  0.98  1.01  1.1   1.12  1.15  1.18
  1.2   1.07  1.05  0.75  1.23  1.25  1.3   1.32  1.34  1.28  1.37  0.74
  0.73  0.72  0.71  0.7   0.69  0.68  0.67  0.66  0.65  0.64  1.45  1.53
  1.4   1.43  0.63  0.62  0.61  0.6   0.59  1.6   1.62  1.63  1.65  1.68
  1.71  1.74  1.78  1.82  1.84  1.85  1.86  1.81  1.79  1.76  1.72  1.7
  1.67  1.64  1.73  1.75  0.58  0.57  0.56  1.88  1.87  1.83  1.77  1.69
  1.66  0.54  0.52  0.5   0.48  0.45  0.43  0.41  0.4   0.38  0.37  0.36
  0.35  0.34  0.33  0.39  0.44  0.47  0.51  0.53  0.55  0.49  0.46  0.42
  1.96  2.13  2.34  2.43  2.51  2.6   2.69  2.8   2.91  2.94  2.85  2.7
  2.57  2.47  2.41  2.19  1.99  0.31  0.3   0.29  0.25  0.21  0.19  0.16
  0.14  0.11  0.1   0.09  0.08  0.07  0.06  0.05  0.04  0.03  0.02  0.01
  0.12  0.17  0.24  0.18  0.15  0.22  0.27  0.32  0.28  0.   -0.01  0.13
  0.23  0.2   2.38  2.37  2.25  2.12  2.04  1.98  1.89  1.8   1.93  2.11
  2.24  2.01  2.02  1.97  1.92  1.95  2.03  2.18  2.23  2.28  2.3   2.08
 -0.07  2.22  2.32  2.31  2.39  2.45  2.44  2.27  2.15  1.94  2.07  2.17
  2.21  2.2   2.09  2.89  2.88  2.86  2.71  2.62  2.52  2.14  2.05  0.26
  2.06  2.    2.72  2.58  2.61  2.59  2.54  1.9   2.16  2.1   2.46  2.67
  2.83  2.81  2.78  2.79  2.68  2.35  2.49  2.65  2.64  2.4   2.33  2.36
  1.91  2.26  2.73  2.77  2.82  2.95  2.87  2.56  2.97  2.76  2.74  2.53
  2.29  3.04  3.28  3.5   3.59  3.66  3.68  3.29  3.05  2.48  2.96  3.21
  3.25  3.18  3.14  3.1   2.42  2.5   2.55  2.92  3.35  3.83  4.    3.95
  3.81  3.57  3.37  3.26  3.17  3.08 -0.02 -0.03  2.9   3.03  3.06  3.09
  2.75  2.93  2.99  3.    2.84  4.82  4.61  4.6   4.65  4.37  3.88  3.16
  2.66  3.54  3.44  3.36  3.13  3.71  4.08  4.03  3.7   2.63  3.23  3.62
  3.46  2.98  3.91  4.22  3.85  3.61  3.76  3.72  3.47 -0.04 -0.06  5.87
  5.57  4.5   3.12  4.25  4.21  4.07  3.64  3.52  3.43  3.27  3.55  3.56
  3.42  3.41  3.38  3.58  3.6   3.3   3.15  3.32  3.48]

icu_patients :
[  nan   62.   67. ... 1732. 1738. 1770.]

icu_patients_per_million :
[   nan  1.381  1.492 ...  0.631  0.315 15.457]

hosp_patients :
[   nan   426.   441. ... 14228.  1080.  1014.]

hosp_patients_per_million :
[   nan 16.274 16.847 ... 75.394 71.609 71.924]

weekly_icu_admissions :
[ nan 195. 194. ... 797. 411. 491.]

weekly_icu_admissions_per_million :
[  nan 9.947 9.896 ... 1.598 1.955 2.166]

weekly_hosp_admissions :
[   nan    34.    95. ... 16870. 16709. 16617.]

weekly_hosp_admissions_per_million :
[  nan 2.917 8.15  ... 0.946 0.315 0.631]

total_tests :
[     nan  853003.  889430. ... 2365708. 2374300. 2379907.]

new_tests :
[       nan 8.0000e+00 5.0000e+00 ... 9.4830e+03 1.2086e+04 7.7340e+03]

total_tests_per_thousand :
[    nan  21.272  22.181 ... 147.917 148.454 148.804]

new_tests_per_thousand :
[      nan 3.000e-03 2.000e-03 ... 7.367e+00 9.073e+00 8.158e+00]

new_tests_smoothed :
[   nan  1301.  1264. ... 22289.  3254.  2535.]

new_tests_smoothed_per_thousand :
[  nan 0.032 0.031 ... 6.335 5.676 5.749]

positive_rate :
[   nan 0.4855 0.448  ... 0.9523 0.4306 0.3925]

tests_per_case :
[   nan    2.1    2.2 ... 1051.3  421.5  249.1]

tests_units :
[nan 'tests performed' 'units unclear' 'samples tested' 'people tested']

total_vaccinations :
[          nan 0.0000000e+00 8.2000000e+03 ... 1.2216848e+07 1.2219760e+07
 1.2222754e+07]

people_vaccinated :
[     nan       0.    8200. ... 6435970. 6436704. 6437808.]

people_fully_vaccinated :
[     nan   55624.   77560. ... 4748940. 4750104. 4751270.]

total_boosters :
[     nan  213042.  295208. ... 1031938. 1032952. 1033676.]

new_vaccinations :
[   nan  2859.  4015. ... 10808. 12159.  2632.]

new_vaccinations_smoothed :
[   nan  1367.  1580. ... 10797.  6231.  5378.]

total_vaccinations_per_hundred :
[      nan 0.000e+00 2.000e-02 ... 7.405e+01 7.442e+01 7.476e+01]

people_vaccinated_per_hundred :
[      nan 0.000e+00 2.000e-02 ... 1.851e+01 2.047e+01 2.707e+01]

people_fully_vaccinated_per_hundred :
[  nan  0.14  0.19 ... 16.77 18.93 28.78]

total_boosters_per_hundred :
[  nan  0.52  0.72 ... 33.51 34.6  34.8 ]

new_vaccinations_smoothed_per_million :
[   nan    33.    38. ... 12332.  8365.  8951.]

new_people_vaccinated_smoothed :
[   nan  1367.  1580. ... 10229.  6797.  2409.]

new_people_vaccinated_smoothed_per_hundred :
[  nan 0.003 0.004 ... 2.121 1.664 1.44 ]

stringency_index :
[ 0.    8.33 27.78 ...  9.76  9.75  9.74]

population_density :
[5.4422000e+01           nan 1.0487100e+02 1.7348000e+01 2.7820500e+02
 1.6375500e+02 2.3890000e+01 2.3184500e+02 1.6177000e+01 1.0293100e+02
 5.8480000e+02 3.2020000e+00 1.0674900e+02 1.1930900e+02 3.9497000e+01
 1.9359070e+03 1.2650360e+03 6.6446300e+02 4.6858000e+01 3.7556400e+02
 1.6426000e+01 9.9110000e+01 1.3088200e+03 2.1188000e+01 1.0202000e+01
 6.8496000e+01 4.0440000e+00 2.5040000e+01 2.0797300e+02 8.1347000e+01
 6.5180000e+01 7.0151000e+01 4.2306200e+02 9.0672000e+01 5.0885000e+01
 4.0370000e+00 1.3558000e+02 2.5649600e+02 7.4790000e+00 1.1833000e+01
 2.4282000e+01 1.4767400e+02 4.4223000e+01 4.3735200e+02 1.5405000e+01
 9.6079000e+01 7.6399000e+01 7.3726000e+01 1.1040800e+02 3.6264400e+02
 1.2765700e+02 1.3717600e+02 3.5879000e+01 1.3652000e+02 4.1285000e+01
 9.8567000e+01 2.2287300e+02 6.6939000e+01 9.7999000e+01 3.0781100e+02
 4.5194000e+01 4.4304000e+01 3.1033000e+01 7.9492000e+01 1.0495700e+02
 3.5308000e+01 4.9562000e+01 1.8136000e+01 1.2257800e+02 7.7324000e+01
 7.8590000e+00 2.0756600e+02 6.5032000e+01 2.3701600e+02 1.2671900e+02
 3.4571000e+03 8.3479000e+01 1.3700000e-01 3.1713200e+02 3.0412800e+02
 1.5783400e+02 5.1755000e+01 6.6191000e+01 3.9520000e+00 3.9844800e+02
 8.2805000e+01 7.0397140e+03 1.0804300e+02 3.4040000e+00 4.5041900e+02
 1.4572500e+02 4.9831000e+01 8.8125000e+01 6.9874000e+01 1.4787200e+02
 4.0260600e+02 2.0585900e+02 2.6687900e+02 3.4777800e+02 1.0928500e+02
 6.6810000e+00 8.7324000e+01 1.4370100e+02 1.6815500e+02 2.3212800e+02
 3.2333000e+01 2.9715000e+01 3.1212000e+01 5.9456100e+02 7.3562000e+01
 4.9127000e+01 3.6230000e+00 2.3701200e+02 4.5135000e+01 2.3144700e+02
 2.0546766e+04 4.3951000e+01 1.9751900e+02 9.6254000e+01 1.4544330e+03
 1.5196000e+01 1.4540370e+03 2.9515000e+02 4.2890000e+00 6.2296200e+02
 6.6444000e+01 1.5077700e+02 1.2365500e+02 1.9347500e+04 1.9800000e+00
 4.6280000e+01 8.0080000e+01 3.7728000e+01 8.1721000e+01 3.0780000e+00
 6.8245000e+02 2.0443000e+02 5.0854400e+02 1.5342000e+01 1.8206000e+01
 5.1667000e+01 1.6955000e+01 2.0958800e+02 2.1170100e+02 8.2600000e+01
 1.1987800e+02 1.4462000e+01 1.4980000e+01 2.5557300e+02 4.7237000e+01
 7.7820200e+02 5.5133000e+01 1.8220000e+01 1.7144000e+01 2.5129000e+01
 3.5187300e+02 1.2402700e+02 1.1237100e+02 3.7623200e+02 2.2732200e+02
 8.5129000e+01 8.8230000e+00 4.9486900e+02 2.1286500e+02 2.9318700e+02
 5.9053300e+02 2.8178700e+02 6.9413000e+01 5.5666700e+02 2.1284100e+02
 1.5322000e+01 8.2328000e+01 8.0291000e+01 2.0835400e+02 1.0470000e+02
 7.9157310e+03 1.2090880e+03 1.1312800e+02 1.0261900e+02 2.1841000e+01
 2.3500000e+01 4.6754000e+01 5.2796700e+02 9.3105000e+01 3.4195500e+02
 2.3258000e+01 3.6120000e+00 2.4718000e+01 2.1424300e+02 6.4281000e+01
 6.4699000e+01 1.3513200e+02 8.7176000e+01 1.4336600e+02 1.5002800e+02
 2.6688600e+02 7.4228000e+01 1.0491400e+02 1.2253000e+01 3.7312000e+01
 3.7306700e+02 2.1375900e+02 7.7390000e+01 1.1244200e+02 2.7289800e+02
 3.5608000e+01 3.0648000e+02 1.9751000e+01 7.6134000e+01 2.2662000e+01
 3.6253000e+01 3.0812700e+02 5.8045000e+01 5.3508000e+01 2.2995000e+01
 4.2729000e+01]

median_age :
[18.6  nan 38.  29.1 16.8 32.1 31.9 35.7 41.2 37.9 44.4 32.4 34.3 27.5
 39.8 40.3 41.8 25.  18.8 28.6 25.4 42.5 25.8 33.5 44.7 17.6 17.5 25.6
 41.4 25.7 18.3 16.7 35.4 38.7 32.2 20.4 19.  33.6 18.7 44.  43.1 41.7
 37.3 43.3 17.  42.3 27.6 28.1 25.3 22.4 19.3 42.7 21.5 19.8 42.8 42.
 32.7 23.1 46.6 21.1 45.3 29.4 43.4 31.4 22.9 19.4 26.3 24.3 24.9 44.8
 28.2 29.3 20.  30.6 47.9 48.2 23.2 33.7 24.4 43.9 31.1 22.2 19.2 29.
 43.5 39.7 39.2 19.6 18.1 29.9 16.4 42.4 45.7 20.3 37.4 20.1 23.  37.6
 39.1 29.6 17.7 22.  43.2 33.4 27.3 15.1 35.3 30.7 23.5 29.7 22.6 26.5
 25.2 46.2 38.2 36.  43.  39.6 34.9 31.8 36.2 19.1 44.5 20.8 45.5 34.1
 19.7 41.  21.7 42.2 23.3 40.1 18.  22.3 31.6 26.9 34.  40.8 38.3 35.6
 32.6 28.4 30.9]

aged_65_older :
[ 2.581    nan 13.188  6.211  2.405  6.933 11.198 11.232 13.085 15.504
 19.202  6.018  8.996  2.372  5.098 14.952 14.799 18.571  3.853  3.244
  4.885  6.704 16.569  3.941  8.552  4.591 20.801  2.409  2.562  4.412
  3.165 16.984  4.46   3.655  2.486 11.087 10.641  7.646  2.963  3.402
  9.468  2.933 19.724 14.738 16.367 13.416 19.027  3.02  19.677  4.213
  6.981  7.104  5.159  8.273  2.846  3.607 19.452  3.163  3.526  6.224
 21.228 19.718  7.775  4.45   2.339 14.864 21.453  3.385 20.396  7.304
  9.551  4.694  3.135  3.002  5.305  4.8    4.652 16.303 18.577 14.431
  5.989  5.319  5.44   3.186 13.928 11.733 23.021  9.684 27.049  3.81
  6.991  2.686  3.895  2.345  4.489  4.029 19.754  8.514  4.506  3.057
  4.424 19.002 14.312  9.798  2.929  2.979  6.293  4.12   2.519 19.426
  3.138 10.945  6.857  4.81  10.864  4.031 14.762  6.769  3.158  5.732
  3.552  5.809 18.779  9.954 15.322  5.445  2.553  2.751  9.491 13.26
 16.821  2.355  4.495  3.043  7.918  3.808  6.378  7.151  4.803 16.763
 21.502 15.168  1.307 17.85  14.178  2.974  9.721  7.724  5.606  2.886
  3.295  3.008 17.366  8.606  2.538 12.922 15.07  19.062  3.507  2.731
  5.344 13.914  3.441 19.436 10.069  3.548 19.985 18.436  3.466  3.108
 11.373  3.556  2.839  5.82  10.014  8.001  8.153  4.277  2.168 16.462
  1.144 18.517 15.413 18.601 14.655  4.469  4.394  6.614  7.15   8.696
  2.922  2.48   2.822]

aged_70_older :
[ 1.337    nan  8.643  3.857  1.362  4.631  7.441  7.571  7.452 10.129
 13.748  3.871  5.2    1.387  3.262  9.473  9.788 12.849  2.279  1.942
  2.977  4.393 10.711  2.242  5.06   2.382 13.272  1.358  1.504  2.385
  1.919 10.797  3.437  2.251  1.446  6.938  5.929  4.312  1.726  2.063
  5.694  1.582 13.053  9.719 10.068  8.563 11.58   1.745 12.325  2.38
  4.419  4.458  2.891  5.417  1.752  2.171 13.491  1.845  3.284 13.264
 13.079  2.897  4.593  2.976  1.417 10.244 15.957  1.948 14.524  5.021
  5.493  3.016  1.733  1.565  2.837  2.954  2.883 10.158 11.976  9.207
  3.414  3.053  3.182  1.957  8.678  7.359 16.24   6.39  18.493  2.361
  4.625  1.528  2.21   1.114  2.882  2.322 14.136  5.43   2.647  1.756
  2.816 13.778  9.842  4.991  1.686  1.783  3.407  2.875  1.486 11.324
 12.543  1.792  5.884  2.411  4.321  2.392  6.955  2.421  9.395  4.209
  1.87   3.12   2.085  3.212 11.881  6.489  9.72   3.519  1.378  1.447
  6.139  8.16  10.813  1.53   2.78   5.03   2.142  3.833  4.455  2.661
 10.202 14.924  9.829  0.617  6.841 11.69   9.393  1.642  6.405  4.832
  3.564  2.162  1.796  5.586  1.285  7.049  9.167 12.93   2.043  1.496
  8.622  2.032 13.799  5.331  2.034  4.229 13.433 12.644  2.577  8.353
  2.155  1.874  6.89   1.897  1.525  4.032  5.819  5.075  5.061  2.541
  1.308 11.133  0.526 12.527  9.732 10.799 10.361  2.873  2.62   3.915
  4.718  1.38   5.355  1.583  1.542  1.882]

gdp_per_capita :
[  1803.987        nan  11803.431  13913.839   5819.495  21490.943
  18933.907   8787.58   35973.781  44648.71   45436.686  15847.419
  27717.847  43290.705   3523.984  16978.068  17167.967  42658.576
   7824.362   2064.236  50669.315   8708.597   6885.829  11713.895
  15807.374  14103.452  71809.251  18563.307   1703.102    702.225
   3645.07    3364.926  44017.591   6222.554  49903.029    661.24
   1768.153  22767.037  15308.712  13254.949   1413.89    4881.406
  15524.995   3601.006  22669.797  32415.132  32605.906    808.133
  46682.515   2705.406   9673.367  14600.861  10581.936  10550.206
   7292.458  22604.873   1510.459  29481.252   7738.975   1729.927
   8702.975  40585.721  38605.671  16562.413   1561.767   9745.079
  45229.245   4227.63   24574.382  13593.877   7423.808   1998.926
   1548.675   7435.047   1653.173   4541.795  56054.92   26777.561
  46482.958   6426.674  11188.744  19082.62   15663.986  67335.293
  33132.32   35220.084   8193.571  39002.223   8337.49   24055.588
   2993.028   1981.132   9795.834  65530.537   3393.474   6397.36
  25063.846  13367.565   2851.153    752.788  17881.509  29524.265
  94277.965 104861.851   1416.44    1095.042  26808.164  15183.616
   2014.306  36513.323   3819.202   3597.633  20292.745  17336.469
   3299.464   5189.972  11840.846  16409.288   7485.013   1136.103
   5591.597   9541.808  12895.635   2442.804  48472.545  36085.843
   5321.444    926.      5338.454  13111.214  64800.057  37960.709
   5034.708  13240.405   4449.898  22267.037   3823.194   8827.01
  12236.706   7599.188  27216.445  27936.896  35044.67  116935.6
  23313.199  24765.954   1854.211  24654.385  12951.839  10727.146
   6021.557  56861.47    3052.714  49045.411   2470.58   14048.881
  26382.287   1390.3    85535.383  36327.232  30155.152  31400.84
   2205.923  12294.876  35938.374   1569.888  34272.36   11669.077
   4466.507  13767.119  46949.283  57410.166   2896.913   2683.304

Checking if each population has a single population value

In [24]:
population_counts = df.groupby('location')['population'].nunique()
countries_with_multiple_populations = population_counts[population_counts > 1]

if not countries_with_multiple_populations.empty:
    print("Countries with multiple population values:")
    print(countries_with_multiple_populations)
else:
    print("Each country has a single population value.")

Each country has a single population value.

## New Creating new metrics

cases per 100k, deaths per 100k

In [28]:
df['cases_per_100k'] = (df['total_cases'] / df['population']) * 100000
df['deaths_per_100k'] = (df['total_deaths'] / df['population']) * 1000

creating 7-day rolling averages

In [32]:
df_sorted = df.sort_values(by=['location', 'date'])
df['new_cases_rolling_avg'] = df_sorted.groupby('location')['new_cases'].rolling(window=7).mean().reset_index(level=0, drop=True)
df['new_deaths_rolling_avg'] = df_sorted.groupby('location')['new_deaths'].rolling(window=7).mean().reset_index(level=0, drop=True)

print(df[['location', 'date', 'new_cases', 'new_deaths', 'new_cases_rolling_avg', 'new_deaths_rolling_avg']].head(5))

      location       date  new_cases  new_deaths  new_cases_rolling_avg  \
0  Afghanistan 2020-01-03        0.0         0.0                    NaN
1  Afghanistan 2020-01-04        0.0         0.0                    NaN
2  Afghanistan 2020-01-05        0.0         0.0                    NaN
3  Afghanistan 2020-01-06        0.0         0.0                    NaN
4  Afghanistan 2020-01-07        0.0         0.0                    NaN

   new_deaths_rolling_avg
0                     NaN
1                     NaN
2                     NaN
3                     NaN
4                     NaN

daily growth metric as a percentage

In [37]:

df['previous_day_total_cases'] = df_sorted.groupby('location')['total_cases'].shift(1)
df['daily_growth_rate'] = (df['new_cases'] / df['previous_day_total_cases']) * 100

print(df[['location', 'date', 'new_cases', 'total_cases', 'previous_day_total_cases', 'daily_growth_rate']])

           location       date  new_cases  total_cases  \
0       Afghanistan 2020-01-03        0.0          NaN
1       Afghanistan 2020-01-04        0.0          NaN
2       Afghanistan 2020-01-05        0.0          NaN
3       Afghanistan 2020-01-06        0.0          NaN
4       Afghanistan 2020-01-07        0.0          NaN
...             ...        ...        ...          ...
350080     Zimbabwe 2023-10-14        0.0     265808.0
350081     Zimbabwe 2023-10-15        0.0     265808.0
350082     Zimbabwe 2023-10-16        0.0     265808.0
350083     Zimbabwe 2023-10-17        0.0     265808.0
350084     Zimbabwe 2023-10-18        0.0     265808.0

        previous_day_total_cases  daily_growth_rate
0                            NaN                NaN
1                            NaN                NaN
2                            NaN                NaN
3                            NaN                NaN
4                            NaN                NaN
...                          ...                ...
350080                  265808.0                0.0
350081                  265808.0                0.0
350082                  265808.0                0.0
350083                  265808.0                0.0
350084                  265808.0                0.0

[350085 rows x 6 columns]

Case fatality rate

In [36]:
df['case_fatality_rate'] = (df['total_deaths'] / df['total_cases']) * 100
print(df[['location', 'date', 'total_deaths', 'total_cases', 'case_fatality_rate']])

           location       date  total_deaths  total_cases  case_fatality_rate
0       Afghanistan 2020-01-03           NaN          NaN                 NaN
1       Afghanistan 2020-01-04           NaN          NaN                 NaN
2       Afghanistan 2020-01-05           NaN          NaN                 NaN
3       Afghanistan 2020-01-06           NaN          NaN                 NaN
4       Afghanistan 2020-01-07           NaN          NaN                 NaN
...             ...        ...           ...          ...                 ...
350080     Zimbabwe 2023-10-14        5718.0     265808.0            2.151177
350081     Zimbabwe 2023-10-15        5718.0     265808.0            2.151177
350082     Zimbabwe 2023-10-16        5718.0     265808.0            2.151177
350083     Zimbabwe 2023-10-17        5718.0     265808.0            2.151177
350084     Zimbabwe 2023-10-18        5718.0     265808.0            2.151177

[350085 rows x 5 columns]

# Data analysis